$color-gear-blue: #035EA4;
$color-off-white: #F5F5F5;
$color-accent-gray: #999999;
$color-accent-yellow: #FFF384;
$color-accent-purple: #351C75;
$color-dark-gray: #333333;
$color-black: #000000;

$colors: (
    "gear-blue": $color-gear-blue,
    "off-white": $color-off-white,
    "accent-gray": $color-accent-gray,
    "accent-yellow": $color-accent-yellow,
    "accent-purple": $color-accent-purple,
    "dark-gray": $color-dark-gray,
    "black": $color-black
)